header {
    display: flex;
    width: 100vw;
    height: 50px;
    align-items: center;
    background-color: blueviolet;
}

.header--title {
    margin-right: 10px;
}

.header--img {
    width: 40px;
    height: 40px;
}